*~
*.swp
*.dSYM
*.o
*.lo
*.loT
*.la
*.dep
.libs
acinclude.m4
aclocal.m4
autom4te.cache
build
config.guess
config.h
config.h.in
config.log
config.nice
config.status
config.sub
configure
configure.in
include
install-sh
libtool
ltmain.sh
Makefile
Makefile.fragments
Makefile.global
Makefile.objects
missing
mkinstalldirs
modules
run-tests.php
tests/*/*.diff
tests/*/*.out
tests/*/*.php
tests/*/*.exp
tests/*/*.log
tests/*/*.sh
tests/*/*.mem
/config.cache
/*.c
/*.diff
/*.phar
/tmp/
/context.h
/libffi.h
/libjit.h
/calc.h
/data.h
/engine.h
/error.h
/libjit.h
/marshal.h
/parser.h
/parser_def.h
/parser_proc.h
/token.h
/types.h
/src/parser_proc.output
/php_psi_predef.h
/types/
/calc/
*.bak
