*.dSYM
/idl/main
/lemon.c
/lempar.c
/lemon
/src/parser.c
/src/parser_proc.out
/src/parser_proc.c
.deps
*.lo
*.la
.libs
acinclude.m4
aclocal.m4
autom4te.cache
build
config.guess
config.h
config.h.in
config.log
config.nice
config.status
config.sub
configure
configure.in
include
install-sh
libtool
ltmain.sh
Makefile
Makefile.fragments
Makefile.global
Makefile.objects
missing
mkinstalldirs
modules
run-tests.php
tests/*/*.diff
tests/*/*.out
tests/*/*.php
tests/*/*.exp
tests/*/*.log
tests/*/*.sh
/compiler.h
/parser.h
/parser_proc.h
/validator.h
/src/*.o
/context.h
/libffi.h
/libjit.j
/tests/*/*.mem
/config.cache
*~
*.swp
php_psi_consts.h
php_psi_decls.h
php_psi_macros.h
php_psi_redirs.h
php_psi_stdinc.h
php_psi_stdtypes.h
php_psi_structs.h
php_psi_types.h
php_psi_va_decls.h
/tmp/
*.loT
