*.dSYM
/idl/main
/lemon.c
/lempar.c
/lemon
/src/parser.c
/src/parser_proc.out
/src/parser_proc.c
.deps
*.lo
*.la
.libs
acinclude.m4
aclocal.m4
autom4te.cache
build
config.guess
config.h
config.h.in
config.log
config.nice
config.status
config.sub
configure
configure.in
include
install-sh
libtool
ltmain.sh
Makefile
Makefile.fragments
Makefile.global
Makefile.objects
missing
mkinstalldirs
modules
run-tests.php
tests/*/*.diff
tests/*/*.out
tests/*/*.php
tests/*/*.exp
tests/*/*.log
tests/*/*.sh
/compiler.h
/parser.h
/parser_proc.h
/validator.h
/src/*.o
/context.h
/libffi.h
/libjit.j
